{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
<h2 class="mb-4">Watchlist</h2>
    {% if watchlist %}
        <section class="d-flex" style="gap: 32px;">
            {% for item in watchlist %}
                {% if item.listing.status == True %}
                <a href="{% url 'listing' item.listing.id %}" class="card text-dark overflow-hidden" style="width: fit-content;">
                    <div class="d-flex" style="width: 300px; height: 300px;">
                        <img class="w-100 h-100" style="object-fit: cover;"
                        src="{{ item.listing.image_url }}"
                        alt="{{ item.listing.image_description }}">
                    </div>
                    <div class="card-body" style="max-width: 300px;">
                        <h2 class="mb-2">${{ item.listing.starting_bid }}</h2>
                        <h4 class="card-title mb-0">{{ item.listing.title }}</h4>
                        <p class="card-text mb-2">{{ item.listing.card_description }}</p>
                        <p class="">Added in <b>{{item.date}}</b></p>
                        <form action="{% url 'watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delete_item" value="{{item.id}}">
                            <input class="btn btn-sm btn-danger" type="submit" value="Remove">
                        </form>
                    </div>
                </a>
                {% endif %}
            {% endfor %} 
        </section>
    {% else %}
        <p class="col-sm-3 alert alert-secondary">No items in your watchlist!</p>
    {% endif %}
{% endblock %}